body{
    display: flex;
    flex-direction: column;
    height:700px;
    width: 360px;
    background-color:darkblue ;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
}

#myButton{
    padding: 15px;
    border-radius: 15px;
    height: 100px;
    width: 250px;
    background-color:black ;
    color: wheat;
    font-size:25px;
    font-style:italic ;
    font-family: pasifico;

}

header{
    color: aqua;
}